html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: hsl(0, 100%, 74%);
}

.heading {
  position: relative;
  color: #ffffff;
  font-size: 48px;
  line-height: 1.2em;
}

.inner-content {
  position: relative;
  color: #ffffff;
  font-size: 17.5px;
}

.myform-container {
  display: block;
}

.myform-card-one {
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px rgb(173 98 98 / 50%);
}

.myform-card-one p {
  color: #ffffff;
  font-weight: 600;
}

.myform-card-one p span {
  color: #ffffff;
  font-weight: 400;
}

.myform-card-two {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px rgb(173 98 98 / 50%);
}

.myform-card-two form > input {
  height: 40px;
  font-size: 16px;
  font-weight: 600;
}

input {
  padding-left: 30px;
  outline: none;
}

input.invalid {
  background: url("../images/icon-error.svg") no-repeat;
  border-color: hsl(0, 100%, 74%);
}

.invalid::placeholder {
  color: hsl(0, 100%, 74%);
}

.error-icon {
  position: relative;
}

.muted-text {
  color: hsl(0, 100%, 74%);
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin-top: 5px;
  visibility: hidden;
}

.myform-card-three {
  background-color: hsl(154, 59%, 51%);
  border: none;
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.conditions p {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  text-align: center;
}

.conditions p span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

footer {
  color: #ffffff;
  font-size: 12px;
  position: relative;
  bottom: 0px;
  background: transparent;
}

.attribution {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.attribution a {
  font-size: 12px;
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media only screen and (min-width: 375px) {
  body {
    background-image: url(../images/bg-intro-mobile.png);
    width: 100%;
    height: 100%;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
  }

  .container {
    width: auto;
    height: 100%;
  }

  .content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  .left-container {
    width: auto;
  }

  .right-container {
    display: block;
    float: none;
  }

  .heading {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    line-height: 1.1em;
    padding-top: 3em;
    margin: 0 auto;
  }

  .inner-content {
    position: relative;
    color: #ffffff;
    width: 85%;
    font-size: 16px;
    text-align: center;
    margin: 2em auto;
  }

  .right-container {
    width: auto;
  }

  .myform-card-one {
    background-color: hsl(248, 32%, 49%);
    padding: 0.5em 2em 0.5em 2em;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    margin: 4em auto 1em;
    box-shadow: 0px 10px 0px 0px rgb(173 98 98 / 50%);
  }
  .myform-card-one p {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    padding: 0em 1em;
  }
  .myform-card-one p span {
    color: #ffffff;
    font-weight: normal;
  }
  .myform-card-two {
    background-color: #ffffff;
    padding: 2em 2em 0.5em 2em;
    border-radius: 10px;
    margin: 2em auto;
    width: 70%;
    box-shadow: 0px 10px 0px 0px rgb(173 98 98 / 50%);
  }
  .myform-card-two form {
    width: 100%;
  }
  .myform-card-two form > input {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 10px;
    width: calc(100% - 2.2em);
    border-radius: 5px;
    border: 1px solid black;
  }
  .myform-card-two form > input:active {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 10px;
    width: calc(100% - 2.2em);
    border-radius: 5px;
    border: 1px solid black;
  }
  .myform-card-two form > input.invalid {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 10px;
    width: calc(100% - 2.2em);
    border-radius: 5px;
    border: 2px solid hsl(0, 100%, 74%);
  }
  input.invalid {
    background: url("../images/icon-error.svg") no-repeat;
    background-position-x: calc(100% - 1.5em);
    background-position-y: 0.85em;
    border-color: hsl(0, 100%, 74%);
  }
  .myform-card-three {
    background-color: hsl(154, 59%, 51%);
    padding: 1em;
    width: 100%;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .myform-card-three:hover {
    background-color: hsl(154deg 56% 46%);
    padding: 1em;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .conditions p {
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
    padding: 0em;
  }
  .conditions p span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .container {
    display: flex;
    height: 100%;
  }

  .left-container {
    display: flex;
    float: left;
  }

  .right-container {
    display: flex;
    float: right;
  }
  .heading {
    position: relative;
    margin: 0em;
    color: #ffffff;
    font-size: 47px;
    line-height: 1.2em;
    text-align: left;
    padding-top: 0em;
  }
  .content {
    width: auto;
    margin: 17em 0em 0em 9em;
    float: left;
    position: relative;
    text-align: left;
  }
  .inner-content {
    position: relative;
    color: #ffffff;
    width: 32em;
    font-size: 15.5px;
    font-weight: 500;
    text-align: left;
    margin: 1.8em 0em 0em 0em;
  }
  .myform-container {
    width: 32em;
    padding: 7em 9em 0em 0em;
    float: left;
    position: relative;
    text-align: center;
  }
  .myform-card-two form {
    display: grid;
  }
  .myform-card-one {
    margin: 0em;
    background-color: hsl(248, 32%, 49%);
    padding: 1px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
  }
  .myform-card-one p {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    padding: 0em;
  }
  .myform-card-two {
    margin: 1.5em 0em 0em 0em;
    background-color: #ffffff;
    padding: 30px 40px 20px 40px;
    border-radius: 10px;
    width: auto;
  }
  .myform-card-two form > input {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .myform-card-two form > input:active {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }
  .myform-card-two form > input.invalid {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid hsl(0, 100%, 74%);
  }
  .myform-card-three {
    background-color: hsl(154, 59%, 51%);
    padding: 1em 0em 1em 0em;
    width: 100%;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .myform-card-three:hover {
    background-color: hsl(154deg 56% 46%);
    padding: 1em 0em 1em 0em;
    width: 100%;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .myform-card-three:active {
    background-color: hsl(154deg 56% 46%);
    padding: 1em 0em 1em 0em;
    width: 100%;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .muted-text {
    color: hsl(0, 100%, 74%);
    font-size: 12px;
    font-style: italic;
    text-align: right;
    margin-top: 5px;
    visibility: visible;
  }
  input.invalid {
    background: url("../images/icon-error.svg") no-repeat;
    background-position-x: 28em;
    background-position-y: 1em;
    border-color: hsl(0, 100%, 74%);
  }
  .conditions p {
    color: hsl(246, 25%, 77%);
    font-size: 11px;
    text-align: center;
    padding: 0em 0em 1em 0em;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .container {
    display: flex;
    height: 100%;
  }

  .left-container {
    display: flex;
    float: left;
  }

  .right-container {
    display: flex;
    float: right;
  }
  .heading {
    position: relative;
    margin: 0em 0.2em 0em 0em;
    color: #ffffff;
    font-size: 52px;
    line-height: 1.2em;
    text-align: left;
    padding-top: 0em;
  }
  .content {
    width: auto;
    margin: 19.5em 0em 0em 10em;
    float: left;
    position: relative;
    text-align: left;
  }
  .inner-content {
    position: relative;
    color: #ffffff;
    width: 32em;
    font-size: 17.5px;
    font-weight: 500;
    text-align: left;
    margin: 2em 0em 0em 0em;
  }
  .myform-container {
    width: 37em;
    padding: 8em 10em 0em 0em;
    float: left;
    position: relative;
    text-align: center;
  }
  .myform-card-two form {
    display: grid;
  }
  .myform-card-one {
    margin: 0em;
    background-color: hsl(248, 32%, 49%);
    padding: 1px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
  }
  .myform-card-one p {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    padding: 0em;
  }
  .myform-card-two {
    margin: 1.5em 0em 0em 0em;
    background-color: #ffffff;
    padding: 35px 40px 35px 40px;
    border-radius: 10px;
    width: auto;
  }
  .myform-card-two form > input {
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .myform-card-two form > input:active {
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }
  .myform-card-two form > input.invalid {
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid hsl(0, 100%, 74%);
  }
  .myform-card-three {
    background-color: hsl(154, 59%, 51%);
    padding: 1em 0em 1em 0em;
    width: 100%;
    outline: none;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .myform-card-three:hover {
    background-color: hsl(154deg 56% 46%);
    padding: 1em 0em 1em 0em;
    width: 100%;
    outline: none;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .myform-card-three:active {
    background-color: hsl(154deg 56% 46%);
    padding: 1em 0em 1em 0em;
    width: 100%;
    outline: none;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 83, 0.69);
  }
  .muted-text {
    color: hsl(0, 100%, 74%);
    font-size: 12px;
    font-style: italic;
    text-align: right;
    margin-top: 5px;
    visibility: visible;
  }
  input.invalid {
    background: url("../images/icon-error.svg") no-repeat;
    background-position-x: 28em;
    background-position-y: 1em;
    border-color: hsl(0, 100%, 74%);
  }
  .conditions p {
    color: hsl(246, 25%, 77%);
    font-size: 12px;
    text-align: center;
    padding: 1em 0em 1em 0em;
  }
}
