body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: hsl(0, 100%, 74%);
}

.container {
  display: inline-flex;
}

.left-container {
  display: flex;
  float: left;
}

.right-container {
  display: flex;
  float: right;
}

.content {
  width: 65%;
  padding: 15em 0em 15em 10em;
  float: left;
}

.heading {
  position: relative;
  margin: 0em 0em 0.5em 0em;
  color: #ffffff;
  font-size: 48px;
  line-height: 1.2em;
}

.inner-content {
  position: relative;
  color: #ffffff;
  width: 32em;
}

.myform-container {
  display: block;
}

.myform-card-one {
  margin: 4em 10em 0em 0em;
  background-color: hsl(248, 32%, 49%);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.myform-card-one p {
  color: #ffffff;
  font-weight: 600;
}

.myform-card-one p span {
  color: #ffffff;
  font-weight: 400;
}

.myform-card-two {
  margin: 2em 10em 0em 0em;
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.myform-card-two form {
  display: grid;
}

.myform-card-two form > input {
  height: 40px;
  margin-bottom: 25px;
  font-size: 16px;
  color: hsl(249, 10%, 26%);
  font-weight: 600;
}

input {
  padding-left: 30px;
}

.myform-card-three {
  background-color: hsl(154, 59%, 51%);
  padding: 20px;
  width: 30em;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.conditions p {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
}

.conditions p span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

footer {
  color: #ffffff;
  font-size: 12px;
}

.attribution {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.attribution a {
  font-size: 12px;
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 1920px) and (min-width: 1440px) {
  main {
    background-image: url("../images/bg-intro-desktop.png");
    width: 100%;
    height: 94vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@media (max-width: 1440px) and (min-width: 375px) {
  main {
    background-image: url("../images/bg-intro-desktop.png");
    width: 100%;
    height: 94vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@media (max-width: 375px) {
  main {
    background-image: url("../images/bg-intro-mobile.png");
    width: 100%;
    height: 94vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
